// Breakpoints
// ------------------

// 360px
$breakpoint-xs: 22.5em;
// 768px
$breakpoint-sm: 48em;
// 1024px
$breakpoint-md: 64em;
// 1366px
$breakpoint-lg: 85.375em;
// 1920px
$breakpoint-xl: 120em;
// 1930
$breakpoint-xl-plus: 120.625em;